{% extends "layout.html" %}

{% block body %}
<h3>Makaleler</h3>
<hr>

{% if articles %}
<form action="/search" method = "post">
<input class="form-control-lg form-control-borderless" type="search" name = "keyword" placeholder="Ara...">
<button class="btn btn-dark btn-lg" type="submit">Ara</button>
</form>
<hr>

<ul class="list-group">
    {% for article in articles  %}
    <li class = "list-group-item"><a href="/article/{{article.id}}">{{article.title}}</a></li>
    {% endfor %}
</ul>

{% else %}
<div class = "alert alert-danger">bu blokta henüz bir makale bulunmuyor.</div>
{% endif %}

{% endblock body %}
